.bg-container {
    background-image: url("https://wallpaperaccess.com/full/1744552.jpg");
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: black;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.main-heading {
    color: white;
    font-family: "Roboto";
}

.paragraph {
    font-family: "Roboto";
    color: white;
}

.button {
    color: white;
    background-color: #F0B813;
    width: 138px;
    height: 36px;
    border-width: 0px;
    border-radius: 20px;
    font-weight: bolder;
}

.bk {
    background-image: url('https://i.pinimg.com/originals/a9/2b/5b/a92b5bf1093e143525914e5b9e6b98fa.jpg');
    background-size: cover;
    height: 100vh;
}

.head {
    font-family: Roboto;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.box {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
}

.par {
    color: black;
    font-weight: bold;
    padding: 10px;
}

.g {
    color: #297CCD;
    text-align: center;
    font-size: 28px;
    padding: 5px;
}

.gu {
    height: 100px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.mar {
    margin: 15px;
}

.bkimg {
    background-image: url('https://wallpapercave.com/wp/wp2009423.jpg');
    background-size: cover;
    height: 100vh;
}

.detailedview {
    color: white;
    font-weight: bolder;
    font-family: Times New Roman;
    font-size: 40px;
    padding: 15px;
}

.bkcard {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 25px;
}

.title {
    color: #296CBA;
    font-size: 36px;
    font-family: Roboto;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.para {
    color: black;
    font-family: cursive;
    font-size: 32px;
    padding: 20px;
}

.ui {
    color: black;
    font-weight: bolder;
    font-size: 28px;
}

/* Responsive Fix for Images in Third Section */
@media (max-width: 768px) {
    .gu {
        height: 80px;
        width: 100px;
    }
}

