.bg-container {
    background-image: url("https://wallpaperaccess.com/full/1744552.jpg");
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: black;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.main-heading {
    color: white;
    font-family: "Roboto";
}

.paragraph {
    font-family: "Roboto";
    color: white;
}

.button {
    color: white;
    background-color: #F0B813;
    width: 138px;
    height: 36px;
    border-width: 0px;
    border-radius: 20px;
    font-weight: bolder;
}

.bk {
    background-image: url('https://i.pinimg.com/originals/a9/2b/5b/a92b5bf1093e143525914e5b9e6b98fa.jpg');
    background-size: cover;
    height: 100vh;
}

.head {
    font-family: Roboto;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.box {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
}

.par {
    color: black;
    font-weight: bold;
    padding: 10px;
}

.g {
    color: #297CCD;
    text-align: center;
    font-size: 28px;
    padding: 5px;
}

.gu {
    height: 105px;
    width: 140px;
    text-align: center;
}

.mar {
    margin: 15px;
}

.update {
    font-weight: bold;
    color: #297CCD;
}
